.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100vw;
  
}

.search-layout{
  display: flex;
  justify-content: space-between;
  gap:1rem;
}

.input{
  padding: 12px;
  width: 230px;
  border-radius: 5px;
  border-color: black;
}

.button{
  background: paleturquoise;
}
.todoView{
  display: flexbox;
  flex-direction: column;
}

.listContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background: lightblue;
  padding: 1rem;
  gap:1rem;
}

.button-container{
  display: flex;
  gap:1rem;
 
}

.input-edit{
  padding: 10px;
}

.edit-button{
  background: lightgreen;
}
.delete-button{
  background: rosybrown;
}
.save-button{
  background: lightseagreen ;
}